<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Compilador</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            height: 500px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        #saida{
            font-size: 24px;
            margin-left: 10px;
        }
        #btnExecutar{
            margin-left: 100px;
        }
    </style>
    <link rel="stylesheet"
          href="bower_components/angular-material/angular-material.min.css">
    <script type="text/javascript"
            src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript"
            src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript"
            src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript"
            src="bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript"
            src="libs/ace-builds/src/ace.js"></script>
    <script type="text/javascript"
            src="bower_components/angular-ui-ace/ui-ace.min.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
    <script type="text/javascript" src="scripts/services.js"></script>
    <script type="text/javascript" src="scripts/factories.js"></script>
    <script type="text/javascript" src="libs/flowchartjs/raphael-min.js"></script>
    <script type="text/javascript" src="libs/flowchartjs/flowchart-1.4.0.js"></script>
</head>
<body>

<div ng-app=StarterApp ng-controller="AppCtrl" layout="column" style="min-height: 300px;">
    <div layout="row">
        <div flex class="md-whiteframe-z3">
            <md-toolbar class="md-warn">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Código</h2>
                    <md-button id="btnExecutar" class="md-raised" ng-click="processOutput()">
                        <!--<md-icon md-svg-src="libs/icomoon/SVG/0285-play3.svg"></md-icon>-->
                        Executar
                        <md-tooltip>
                            Clique para executar o seu código
                        </md-tooltip>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content class="md-padding" style="height: 600px;padding: 24px;">
                <div id="editor" ui-ace="{mode:'java', theme: 'github'}" ng-model="codigo"></div>
            </md-content>
        </div>

        <div flex class="md-whiteframe-z3">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Saída</h2>
                </div>
            </md-toolbar>
            <div id="saida">{{ saida }}</div>
        </div>

        <div flex class="md-whiteframe-z3">
            <md-toolbar class="md-warn">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Fluxograma</h2>
                </div>
            </md-toolbar>
            <md-content class="md-padding" style="height: 600px;padding: 24px;">
                <div id="diagram"></div>
            </md-content>
        </div>

    </div>

    <md-button flex="50" class="md-primary md-raised" ng-click="toggleRight()">Opções</md-button>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Opções disponíveis</h1>
        </md-toolbar>
        <md-content ng-controller="OpcoesCtrl" layout-padding>
            <md-list>
                <md-subheader class="md-primary">Tipos</md-subheader>
                <md-list-item ng-repeat="tipo in tiposDisponiveis">
                    <div class="md-list-item-text">
                        <md-button ng-click="adicionarCodigo('leia')">{{ tipo }}</md-button>
                    </div>
                </md-list-item>
                <md-divider ></md-divider>
                <md-subheader class="md-primary">Funções</md-subheader>
                <md-list-item ng-repeat="funcao in funcoesDisponiveis">
                    <div class="md-list-item-text">
                        <md-button ng-click="adicionarCodigo('leia')">{{ funcao }}</md-button>
                    </div>
                </md-list-item>
                <md-divider ></md-divider>
                <md-subheader class="md-primary">Operações</md-subheader>
                <md-list-item ng-repeat="operacao in operacoesDisponiveis">
                    <div class="md-list-item-text">
                        <md-button ng-click="adicionarCodigo('leia')">{{ operacao }}</md-button>
                    </div>
                </md-list-item>
            </md-list>
            <md-divider ></md-divider>
            <md-button ng-click="close()" class="md-primary">
                Fechar
            </md-button>
        </md-content>
    </md-sidenav>

</div>

<script>
    document.getElementById('editor').style.fontSize='24px';
</script>

</body>
</html>
